{% extends "ninamwrites_admin/base.html" %}
{% block extrahead %}
<style>
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: clamp(1rem, calc(1vw + 1rem), 2rem);
        margin-bottom: 20px;
    }

    table {
        width: clamp(300px, calc(100vw - 40px), 600px);
        border-collapse: collapse;
    }

    thead,
    tbody,
    td {
        padding: 10px;
        text-align: left;
    }

    thead {
        background-color: #1e3a8a;
        color: white;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #ddd;
    }
    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    a {
        color: #1e3a8a;
    }

    a:hover {
        color: #2563eb;
    }
</style>
{% endblock %}
{% block content %}
<h1>View Subscribers</h1>
<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Date Subscribed</th>
        </tr>
    </thead>
    <tbody>
        {% for sub in subs %}
        <tr>
            <td>{{ sub.email }}</td>
            <td>{{ sub.date_subscribed }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="button-container">
    <a href="{% url 'ninamwrites_admin:view_subscribers' %}">View Subscribers</a>
    <a href="{% url 'ninamwrites_admin:send_newsletter' %}">Send Newsletter</a>
</div>
{% endblock %}
{% block extrajs %}{% endblock %}